.Home {
  padding: 0px 0px;
  text-align: center;
}

.Home h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home p {
  color: #999;
}

.Home button {
  background-color: hsl(204, 39%, 49%); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
